<form action="/article/{{slug}}/edit" method="POST">
    <h1>Edit Article</h1>
    <label for="body">Title:</label>
    <input type="text" name="articleTitle" value="{{name}}" />
    <label for="body">Body:</label>
    <textarea id="body" name="articleBody" required>{{body}}</textarea>
    <input type="submit" value="Save" />

    <a href="/article/{{slug}}">Cancel</a>
</form>